html {
    scroll-behavior: smooth;
}
.is-180x180{
    height: 180px;
    width: 180px;
}
.has-bg-image {
    background-image:
      linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8)),
      url('../images/cover.jpg')
      ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}